/* day1.html */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
h1{
    width: 40ch;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
}

@keyframes typing {
    from {
        width: 0ch;
    }
}